@import "@/index.less";



#home-header{
    background-color: @background-color;
    margin-bottom: '1rem';


    .home-header {
        text-align: left;
        margin-left: 10%;
        background-color: @background-color;
    
    }

    
    
    /* 缩放适配 */
    @media screen and (max-width: @width-max) and (min-width: @width-middle) {
        .title {
            zoom: 0.7;
        }
    }
    

    
}    
/* 缩放适配 */
@media screen and (max-width: @width-middle) {
    #home-header {
       i {
        display: none;
       }
    }
}