@import "@/index.less";

.content {
	padding: 1rem;
	width: 100%;
	height: 100%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: space-between;
	margin-top: 1rem;
	overflow-y: scroll;

	.input {
        margin-bottom: 2rem;
	}
}

.content > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
